<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vncoop.q02" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rules"
            android:label="@string/title_activity_rules"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseNumOfPlayers"
            android:label="@string/title_activity_choose_num_of_players"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InitTeams"
            android:label="@string/title_activity_init_teams"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainGame"
            android:label="@string/title_activity_main_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuestionScreen"
            android:label="@string/title_activity_question_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Winner"
            android:label="@string/title_activity_winner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SavedGameStatus"
            android:label="@string/title_activity_saved_game_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".addQuestion"
            android:label="@string/title_activity_add_question" >
        </activity>
        <activity
            android:name=".report"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".SavedGames"
            android:label="@string/title_activity_saved_games" >
        </activity>
    </application>

</manifest>
